input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
}

.dark input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="time"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}

/* Ocultar barra de scroll para el diseño limpio */
body::-webkit-scrollbar {
    display: none;
}